<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Content</label>
            <input type="text" class ="form-control" id = "content"
                [(ngModel)] = "employee.content" name = "content">
        </div>
    
        <div class="form-group">
            <label> Title </label>
            <input type="text" class ="form-control" id = "title"
                [(ngModel)] = "employee.title" name = "title">
        </div>
    
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 